<p-dialog header="Join channel" width="300" [(visible)]="joinChannelVisible" [dismissableMask]="true" [modal]="true"
  [blockScroll]="true" [focusOnShow]="false" styleClass="join-channel" (onShow)="focusInput()">
  <form (ngSubmit)="joinChannel()">
    <input #input name="channel" type="text" placeholder="#channel or user" pInputText [(ngModel)]="joinChannelValue" />
  </form>
  <p-footer>
    <p-button label="Join" styleClass="ui-button-success" (click)="joinChannel()"></p-button>
  </p-footer>
</p-dialog>

<div class="chat-container">
  <div class="main">
    <app-control-bar (logout)="onLogout()" (users)="onUsers()"></app-control-bar>
    <app-tab-bar [channels]="channels$ | async" [currentChannel]="currentChannel$ | async" (setChannel)="onSetChannel($event)"
      (joinChannelClick)="onJoinChannelClick()" (leaveChannel)="onLeaveChannel($event)"></app-tab-bar>
    <app-message-box [messages]="messages$ | async"></app-message-box>
    <app-input-bar [mpMode]="multiplayer$ | async" (send)="onSendMessage($event)"></app-input-bar>
  </div>
  <ng-container *ngIf="usersVisible$ | async">
    <app-user-bar [users]="users$ | async"></app-user-bar>
  </ng-container>
</div>
