<p-dialog header="Join channel" width="300" [(visible)]="joinChannelVisible" [dismissableMask]="true" [modal]="true" [blockScroll]="true"
  styleClass="join-channel">
  <form (ngSubmit)="joinChannel()">
    <input name="channel" type="text" placeholder="#channel or user" pInputText [(ngModel)]="joinChannelValue" />
  </form>
  <p-footer>
    <p-button label="Join" styleClass="ui-button-success" (click)="joinChannel()"></p-button>
  </p-footer>
</p-dialog>

<div class="chat-container">
  <app-tab-bar [channels]="channels$ | async" [currentChannel]="currentChannel$ | async" (setChannel)="onSetChannel($event)"
    (joinChannelClick)="onJoinChannelClick()"></app-tab-bar>
  <app-message-box [messages]="messages$ | async"></app-message-box>
</div>
