<div class="container">
  <div class="login-box">
    <form>
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Username</label>
          </span>
        </div>

        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Password</label>
          </span>
        </div>

        <div class="ui-g-12">
          <p-button label="Login" styleClass="ui-button-success"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
