// Load theme
@import '../node_modules/primeng/resources/themes/nova-dark/theme.css';

@font-face {
  font-family: exo-main;
  src: url('assets/fonts/Exo2-Light.otf') format('opentype');
}

@font-face {
  font-family: exo-main;
  font-weight: bold;
  src: url('assets/fonts/Exo2-SemiBold.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  /*background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;*/
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: #999;
  /*border: thin solid gray;*/
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: exo-main;

  height: 100%;
}

// Join channel modal
body .ui-dialog.join-channel {
  min-height: 90px !important;
  height: 90px !important;

  input {
    width: 100%;
  }

  .ui-dialog-titlebar {
    padding: 0.5em 0.75em;
    background-color: rgb(35, 37, 65);
    border-color: rgb(35, 37, 65);
  }

  .ui-dialog-content {
    background-color: rgb(35, 37, 65);
    border-color: rgb(35, 37, 65);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .ui-dialog-footer {
    border-top: none;
  }
}

.join-channel-input {
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .input-text {
    height: 100%;
    outline: none;
    border: none;
    padding: 6px;
    font-family: exo-main;
    flex-grow: 1;
  }

  .input-submit {
    height: 100%;
    background-color: green;
    color: white;
    font-family: exo-main;
    width: 50px;
    outline: none;
    border: none;
  }
}

.panel {
  width: 150px;
}

.link {
  text-decoration: none;
  background-color: #204acb;
  color: white;
  padding: 0 4px;
  border-radius: 4px;
  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
}

.link:hover {
  background-color: #4d69bf;
  color: white;
}

.ui-toast-message-content {
    white-space: pre-line;
}
