<div class="hotkeys">
  <h1>Hotkeys</h1>

  <form class="settings">
    <div class="hotkey-list">
      <h3>App hotkeys</h3>
      <p>Note: These hotkeys cannot be changed for now.</p>
      <ul>
        <li>
          <kbd>Ctrl</kbd>+<kbd>N</kbd>
          <span class="command">Join channel</span>
        </li>

        <li>
          <kbd>Ctrl</kbd>+<kbd>W</kbd>
          <span class="command">Leave channel</span>
        </li>

        <li>
          <kbd>Ctrl</kbd>+<kbd>→</kbd> / <kbd>Ctrl</kbd>+<kbd>Tab</kbd>
          <span class="command">Cycle to next channel</span>
        </li>

        <li>
          <kbd>Ctrl</kbd>+<kbd>←</kbd> / <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Tab</kbd>
          <span class="command">Cycle to previous channel</span>
        </li>
      </ul>
    </div>

    <div class="hotkey-list">
      <h3>Chat hotkeys</h3>
      <i *ngIf="(hotkeys$ | async).length === 0">None created yet!</i>
      <ul *ngIf="(hotkeys$ | async).length > 0">
        <li *ngFor="let hotkey of (hotkeys$ | async)" class="custom-hotkey">
          <ng-container *ngFor="let key of hotkeyStringToArray(hotkey.hotkeyString); last as isLast">
            <kbd>{{key}}</kbd>
            <ng-container *ngIf="!isLast">+</ng-container>
          </ng-container>

          <span class="command">Send in chat: <code>{{hotkey.command}}</code></span>

          <button mat-icon-button matTooltip="Delete this hotkey" matTooltipPosition="left" (click)="removeHotkey(hotkey.hotkeyString)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
    </div>

    <button mat-raised-button (click)="openCreateHotkeyDialog()">Create chat hotkey</button>
  </form>
</div>
