:host {
  flex-grow: 1;
  flex-shrink: 0;
}

virtual-scroll {
  display: block;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 110px);
  word-break: break-word;
}

.parent-container {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}

.message {
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);

  &.action {
    color: rgb(171, 171, 231);
  }

  .date {
    color: #c0c0c0;
    margin-right: 2px;
  }

  .sender {
    margin-right: 4px;
    cursor: pointer;

    &.normal {
      color: #ffc561;
    }
  }
}
