virtual-scroll {
  display: block;
  width: 100%;
  height: 100%;
  word-break: break-word;
}

.parent-container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 90px);
  padding: 10px 5px;
}

.message {
  color: #ffffff;

  .date {
    color: #c0c0c0;
    margin-right: 2px;
  }

  .sender {
    color: #ffc561;
    margin-right: 4px;
  }
}
