<div class="parent-container">
  <virtual-scroll [items]="messages" [enableUnequalChildrenSizes]="true" (vsUpdate)="viewPortItems = $event">
    <div class="message" *ngFor="let msg of viewPortItems">
      <span class="date">[{{parseDate(msg.date)}}]</span>
      <span class="sender normal" *ngIf="!msg.action">{{msg.sender}}:</span>
      <span class="sender action" *ngIf="msg.action">{{msg.sender}}</span>
      <span [innerHTML]="msg.message | parse"></span>
    </div>
  </virtual-scroll>
</div>
